"*":
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 19
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "3f81e074-01d0-4617-a69c-047c4f457733"
  latex:
    buildOnSave: true
    outputDirectory: "./build"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
